{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz App</title>
    <link rel="stylesheet" href="{% static 'quizzes/index.css' %}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Welcome to Quiz App</h1>
        <p>Let's test your mettle</p>
      </header>
      <section class="intro">
        <div class="instructions">
          <p>
            Challenge yourself with our fun and engaging quiz. Each question
            will have multiple choices, and you'll need to select the correct
            one. Good luck!
          </p>
        </div>
        <button class="start-btn">Start Quiz</button>
      </section>
    </div>
  </body>
</html>
