<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question</title>
  </head>
  <body>
    <div class="question-container">
      <h3>{{ question.text }}</h3>
      <div class="choice-container">
        {% for choice in question.choices.all %}
        <div class="choice">
          <a href="{% url 'answer' question.pk choice.pk %}">
            {{ choice.text|linebreaks }}
          </a>
        </div>
        {% empty %}
        <div class="no-choices">No choices configured</div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
